<div class="container">
    <h3 class="text-success mt-4">Cadastro de motoristas</h3>
    <hr>

    {{#if error}}
    	<div class="alert alert-danger" role="alert">
			{{{error}}}
		</div>
    {{/if}}

    {{#if success}}
    	<div class="alert alert-success" role="alert">
			{{{success}}}
		</div>
    {{/if}}

    <div class="breadcrumb">
		<div class="col-sm-2">
			<b><small class="text-danger">* Campo obrigatório</small></b>
		</div>
		<div class="col-sm-10">
			<b><small class="text-info">Textos de ajuda posicionando o mouse sobre o campo desejado</small></b>
		</div>
	</div>

    <form role="form" action="/driver/insert" method="POST" data-toggle="validator">
    	<div class="card mb-3">
    		<div class="card-header">Dados Pessoais</div>
    		<div class="card-body">
    			<div class="row">
					<div class="col-sm-6 form-group">
						<label>Nome <span class="text-danger">*</span></label>
						<input type="text" id="firstname" name="firstname" placeholder="Insira o nome aqui.." class="form-control" data-minlength="2" data-error="Nome inválido" data-toggle="tooltip" title="Ex.: João Paulo" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>Sobrenome <span class="text-danger">*</span></label>
						<input type="text" id="lastname" name="lastname" placeholder="Insira o sobrenome aqui.." data-minlength="2" data-error="Sobrenome inválido" data-toggle="tooltip" title="Ex.: Souza Silva" class="form-control " required>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group">
						<label>Data de nascimento <span class="text-danger">*</span></label>
						<input type="text" id="birthday" name="birthday" class="form-control " data-error="Data de nascimento inválida" data-minlength="10" data-toggle="tooltip" title="Ex.: 12/01/1992" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-3 form-group">
						<label>Telefone <span class="text-danger">*</span></label>
						<input type="text" id="phone" name="phone" class="form-control " data-error="Telefone inválido" data-minlength="16"  data-toggle="tooltip" title="Número com DDD e no novo padrão brasileiro. Ex.: (45) 9 9999-9999" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>E-Mail <span class="text-danger">*</span></label>
						<input type="text" id="email" name="email" placeholder="Insira o e-mail aqui.." class="form-control " data-error="E-Mail inválido" pattern="^[a-zA-Z1-9_-]+@[a-zA-Z1-9_-]+?\.[a-zA-Z]{2,3}$" data-toggle="tooltip" title="Ex.: joao123@email.com" required>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>Senha <span class="text-danger">*</span></label>
						<input type="password" id="password" name="password" placeholder="Insira a senha aqui.." class="form-control " data-error="Senha inválida! Não atende os requisitos." pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" data-toggle="tooltip" title="Deve conter 1 letra, 1 número, 1 caracter especial ($@$!%*#?&) e tamanho mínimo de 8 caracteres" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>Repetir a Senha <span class="text-danger">*</span></label>
						<input type="password" id="password2" name="password2" placeholder="Insira a senha novamente aqui.." class="form-control " data-error="Senha não corresponde a senha digitada anteriormente" data-match="#password" data-toggle="tooltip" title="A senha deve ser o mesmo que o digitado anteriormente" required>
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="card mb-3">
			<div class="card-header">Documentos</div>
    		<div class="card-body">
    			<div class="row">
    				<div class="col-sm-6 form-group">
						<label>CPF <span class="text-danger">*</span></label>
						<input type="text" id="cpf" name="cpf" class=" form-control" data-error="CPF inválido" data-toggle="tooltip" title="Ex.: 111.111.111-11" data-minlength="14" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>Carteira de motorista (CNH) <span class="text-danger">*</span></label>
						<input type="text" id="driverlicense" name="driverlicense" data-error="Carteira de motorista inválido" class=" form-control" data-toggle="tooltip" title="Ex.: 11122233344" data-minlength="11" required>
						<div class="help-block with-errors"></div>
					</div>
    			</div>
    		</div>
    	</div>


    	<div class="card mb-3">
    		<div class="card-header">Endereço</div>
    		<div class="card-body">
    			<div class="row">
    				<div class="col-sm-6 form-group">
						<label>Rua <span class="text-danger">*</span></label>
						<input type="text" id="street" name="street" placeholder="Insira o nome da rua aqui.." data-error="Nome da rua inválido" class=" form-control" data-toggle="tooltip" title="Ex.: Rua Tiradentes, Avenida das Nações, R. Tiradentes, Av. das Nações" data-minlength="3" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>Número <span class="text-danger">*</span></label>
						<input type="number" id="number" name="number" placeholder="Insira o número da casa aqui.." data-error="Número da rua inválido" class=" form-control" data-toggle="tooltip" title="Ex.: 1684" min="1" required>
						<div class="help-block with-errors"></div>
					</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-6 form-group">
						<label>Bairro <span class="text-danger">*</span></label>
						<input type="text" id="district" name="district" placeholder="Insira o nome do bairro aqui.." data-error="Nome do bairro inválido" class=" form-control" data-toggle="tooltip" title="Ex.: Centro, Jardim Florença, Vila C" data-minlength="4" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="col-sm-6 form-group">
						<label>Cidade <span class="text-danger">*</span></label>
						<select id="city" name="city" class=" form-control" data-error="Cidade inválida" data-toggle="tooltip" title="Selecione um dentro as opções possíveis" required>
							<option selected="selected" value="Foz do Iguaçu">Foz do Iguaçu</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-4 form-group">
						<label>Estado <span class="text-danger">*</span></label>
						<select id="state" name="state" class=" form-control" data-error="Estado inválido" data-toggle="tooltip" title="Selecione um dentro as opções possíveis" required>
							<option selected="selected" value="Paraná">Paraná</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>	
					<div class="col-sm-4 form-group">
						<label>País <span class="text-danger">*</span></label>
						<select id="country" name="country" class=" form-control" data-error="País inválido" data-toggle="tooltip" title="Selecione um dentro as opções possíveis" required>
							<option selected="selected" value="Brasil">Brasil</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>	
					<div class="col-sm-4 form-group">
						<label>Código Postal (CEP) <span class="text-danger">*</span></label>
						<input type="text" id="zipcode" name="zipcode" data-error="Código Postal (CEP) inválido" class=" form-control" data-toggle="tooltip" title="Ex.: 85875-000" data-minlength="9" required>
						<div class="help-block with-errors"></div>
					</div>	
    			</div>
    		</div>
    	</div>


    	<div class="row">
			<div class="col-sm-12 form-group">
				<button data-toggle="tooltip" title="O botão de cadastro se habilita quando todos os campos obrigatórios estiverem corretamente preenchidos." type="submit" class="btn btn-lg btn-success float-right ">Cadastrar</button>
			</div>
		</div>
    </form>


</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 

		$('#birthday').mask('00/00/0000', {placeholder: "__/__/____"});
		$('#phone').mask('(00) 0 0000-0000', {placeholder: "(__) _ ____-____"});
		$('#cpf').mask('000.000.000-00', {placeholder: "___.___.___-__"});
		$('#driverlicense').mask('00000000000', {placeholder: "___________"});
		$('#zipcode').mask('00000-000', {placeholder: "_____-___"});
	});
</script>