<div class="container">
	<div class="content">

{{#each messages}}
	<div class="card m-4">
  <div class="card-header">
    <b>From: </b>{{topic}}
  </div>
  <div class="card-body">
  	{{value}}
  </div>
</div>
{{/each}}



</div>
</div>