<link rel="stylesheet" type="text/css" href="/css/login.css">

<div class="login-wrap">
	
	<div class="login-html">
		<div class="sign-in-header">	
			<div class="sign-in-logo">
				<img width="100%" src="/img/roar-logo.png"/>
			</div>
			<div class="sign-in-title">
			</div>
		</div>

		<div class="login-form">
			<form class="sign-in-htm" role="form" action="/login" method="post">
				<div class="group">
					<label for="username" class="label" style="text-align: center">Username</label>
					<input id="username" name="username" type="text" class="input">
				</div>
				<div class="group" style="text-align: center">
					<input id="keep_session" name="keep_session" type="checkbox" class="check" checked>
					<label for="keep_session"><span class="icon"></span>Mantenha-me conectado</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Entrar">
				</div>
				<div class="hr"></div>
			</form>

		</div>
	</div>
</div>